@import "./colors.css";

#root {
  background-color: var(--swatch-foundation);
  font-family: "Lexend Exa";
  position: absolute;
  width: 80%;
  left: 10%;
  height: 90%;
  top: 5%;
}

#planet-stonybrook-banner {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 5%;
  text-align: center;
  background-color: var(--swatch-primary);
  color: white;
  font-size: 24pt;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

#planet-stonybrook-tabs {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 5%;
  height: 5%;
  background-color: var(--swatch-contrast);
}

.planet-stonybrook-tab {
  position: relative;
  background-color: var(--swatch-complement);
  top: 5%;
  font-family: "Lexend Exa";
  bottom: 5%;
  text-align: center;
  cursor: pointer;
  float: left;
  height: 90%;
  width: 20%;
}

.planet-stonybrook-tab:hover {
  background-color: var(--swatch-contrast-hover);
  color: white;
}

#planet-workspace {
  position: absolute;
  left: 0%;
  top: 10%;
  width: 100%;
  height: 100%;
  background-color: var(--swatch-accent);
}

#workspace-home,
#workspace-edit {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
