:root {
  --swatch-foundation: #c5baaf;
  --swatch-primary: #e1ce71;
  --swatch-complement: #d9a56d;
  --swatch-contrast: #424b54;
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

#root {
  background-color: var(--swatch-primary);
  font-family: "Lexend Exa";
  position: absolute;
  width: 80%;
  left: 10%;
  height: 90%;
  top: 5%;
}

#planet-stonybrook-banner {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 10%;
  text-align: center;
  background-image: linear-gradient(to bottom, #b8b808, #636723);
  color: white;
  font-size: 48pt;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

#planet-workspace {
  position: absolute;
  left: 30%;
  top: 10%;
  width: 70%;
  height: 80%;
  background-color: var(--swatch-accent);
}

#workspace-home,
#workspace-edit {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}
