:root {
  --swatch-foundation: #c5baaf;
  --swatch-primary: #e1ce71;
  --swatch-complement: #d9a56d;
  --swatch-contrast: #424b54;
  --swatch-contrast-hover: #2b2d30;
  /* --swatch-industry:TODO:;
  --swatch-agriculture:TODO:;
  --swatch-structures:TODO:;
  --swatch-overview:TODO:; */
}
