.resource-card {
  font-size: 18pt;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
}

.horizontal-arrangement {
  display: flex;
  flex-direction: row;
}

.vertical-arrangement {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-text {
  font-size: 18pt;
}
