.resource-card {
  position: relative;
  padding: 20px;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  border-bottom-color: black;
  width: 100%;
  box-sizing: border-box;
}

.structure-card {
  position: relative;
  padding: 20px;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  border-bottom-color: black;
  width: 100%;
  box-sizing: border-box;
}

.horizontal-arrangement {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertical-arrangement {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centered-arrangement {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.create-button {
  padding: 15px 25px;
  border-radius: 10px;
}

.button-active {
  background-color: var(--swatch-button-active);
}

.button-disabled {
  background-color: var(--swatch-button-disabled);
}

.spacer {
  flex: 1;
}

.description-container {
  width: 30%;
  padding: 10px;
}

.description-text {
  font-size: 12pt;
}

.title-text {
  font-size: 32pt;
}

.name-text {
  font-size: 18pt;
}

.amount-text {
  font-size: 18pt;
  padding: 10px;
}

.build-container {
  width: 250px;
  text-align: right;
}

.cost-text {
  font-size: 12pt;
}
